{namespace bitbucketserver.page.slack.user.settings}

/**
 **/
{template .viewUserSlackSettings}
<html>
    <head>
        <title>User slack settings</title>
        <meta name="decorator" content="atl.userprofile">
        <meta name="activeTab" content="user-settings-slack-settings">
    </head>
    <body>
        {call widget.aui.pageHeader}
            {param content}
                <h2>User slack settings/h2>
            {/param}
        {/call}
    </body>
</html>
{/template}
